
.list-wrapper > input {
    width: 97%;
    height: 30px;
    border: none;
    border-bottom: 1px solid #1877F2;
    padding-left: 10px;
    font-size: 12px;
}

.list-wrapper > .list {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.list-wrapper > .list li {
  border-bottom: 1px solid grey;
    padding: 10px;
    padding-left: 10px;
    font-weight: 500;
    font-size: 13px;
}

.paginationButtons{
    width: 80%;
    height: 30px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.paginationButtons a {
    padding: 7px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #1877F2;
    color: #1877F2;
    cursor: pointer;
    font-size: 13px;
}

.paginationButtons a:hover{
    color: white;
    background-color: #1877F2;
}

.activeButton a{
    color: white;
    background-color: #1877F2;
}

.disabledPagination a{
    color: grey;
    cursor: not-allowed;
}

.disabledPagination a:hover{
    color: grey;
    background-color: transparent;
    cursor: not-allowed;
}